{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DebateNation</title>
    <link rel="stylesheet" href="{% static 'css/style.css'  %}">
</head>
<body>
    <header>
        <nav class="navbar">
             <div class="logo">
                 <h1>IITG MODEL UNITED NATIONS</h1>
             </div>
             <div class="logout">
                <ul>
                    <li><a href="/accounts/logout">Logout</a></li>
                </ul>
             </div>
             <div class="nav__toggle">
                  <div class="line1"></div>
                  <div class="line2"></div>
                  <div class="line3"></div>
             </div>
        </nav>
     </header>
    <div class="main_div">
        <div class="sidebar">
         <div class="flag">
             <div>
                <img src="{% static 'images/logo.png' %}" >
             </div>
         </div>
         <div>
             <ul>
                 <li><a href="#">Home</a></li>
                 
             </ul>
         </div>
        </div>
        <div class="main_area">
            
            
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block js%} 
    {% endblock %}
</body>
</html>