{% extends 'chits/base.html' %}
{% load static %}
{% block content %}
    <section class="message_area">
        <style>
            .message_area{
                align-items: flex-start!important;
                justify-content: flex-start!important;
            }
            .chit_area{
                justify-self: start;
                margin-left:5rem!important ;
               
                flex:0.53!important;
            }

            @media screen and (max-width:1200px) {
             .chit_area{
               
               flex:.65 !important;
               margin-left:1rem!important ;
           }
        }
         
           @media screen and (max-width:900px) {
             .chit_area{
               
               flex:.8 !important;
               margin-left:1rem!important ;
           }
           @media screen and (max-width:700px) {
             .chit_area{
                 height: 90vh!important;
               
               flex:1 !important;
               margin-left:1rem!important ;
               
 
           }
        }
           @media screen and (max-width:600px) {
             .chit_area{
                 height: 90vh!important;
               
               flex:1 !important;
               margin-left:0rem!important ;
               
 
           }
         }
                
            }
            .main_area .message_area{
               margin-bottom: 2rem;
           }
        </style>
        <div class="chit_area">
            <div class="chits_box">
                <div style="display:none">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" class="csrf"/>
                </div>
                <!-- <div class="single_chit">
                    <div class="from">
                            From : India < india@iitgmun >
                    </div>
                    <div class="reply">

                    </div>
                    <div class="content">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore fugiat tenetur, nesciunt quas obcaecati rerum, ut itaque modi tempora sunt maiores nobis explicabo natus architecto placeat ad praesentium tempore suscipit.
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure vero ducimus minima maxime deleniti cupiditate reiciendis? Ipsum quasi doloribus sed cupiditate ipsam asperiores, incidunt eaque sunt eos dicta consequuntur possimus.
                    </div>
                    <div class=" reply_button">
                                <button type="send">reply</button>
                    </div>
                </div>
                <div class="single_chit">
                    <div class="from">
                        Reply from UK to India's message
                    </div>
                    <div class="from">
                    From : India < india@iitgmun >

                    </div>
                    <div class="content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates inventore placeat necessitatibus, vitae numquam quia in quaerat adipisci totam accusantium nihil natus, saepe expedita sequi dolores dignissimos et architecto nobis!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aliquam fugiat tenetur quaerat, repudiandae, vitae, iusto dicta perspiciatis ipsum quis ducimus earum inventore unde soluta asperiores! Laborum maxime tempora incidunt.
                    </div>
                    <div class="reply_button">
                        <button btn="send">reply</button>
                    </div>
                </div>
                <div class="single_chit">
                <div class="from">
                    Reply from UK to India's message
                </div>
                <div class="from">
                    From : India < india@iitgmun >

                </div>
                <div class="content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates inventore placeat necessitatibus, vitae numquam quia in quaerat adipisci totam accusantium nihil natus, saepe expedita sequi dolores dignissimos et architecto nobis!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aliquam fugiat tenetur quaerat, repudiandae, vitae, iusto dicta perspiciatis ipsum quis ducimus earum inventore unde soluta asperiores! Laborum maxime tempora incidunt.
                </div>
                <div class="reply_button">
                    <button btn="send">reply</button>
                </div>
            </div> -->
            </div>

        </div>

    </section>

    
{% endblock %}


{% block js %}
   <script type="text/javascript" src="{% static 'js/fetchMessages.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/Moderator.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
        