{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" >
</head>
<body>
  <section class="main__section">
    <div class="banner__wrapper">
     
      <div class="banner">
        <div>
        <div class="heading__1">
          <h1>IIT Guwahati <br>Model United Nations</h1>
        </div>
        <div class="heading__2">
          <h1>CoVID-19<br>HACKATHON</h1>
        </div>
        <div class="heading__3">
          <h1>Contact us at :iitg@mun.in<br>Facebook : facebook/iitgMun <br>Instagram : instagram/iitgMun</h1>
        </div>
      </div>
    </div>
    </div>
    <div class="login">
      <div class="logo__wrapper">
        <img src="{% static 'images/logo.png'%}">
      </div>
      {% for message in messages%}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
           <p class="error_message" style="color:red">{{ message }} </p>
      {% endif %}
      {% endfor %}
      <div class="form__wrapper">
       
        <form method="post" action="{% url 'accounts:login' %}">
          {% csrf_token %}
          <div class="form__group">
            <label for="username">Username</label><br/>
            <input name="username" type="text">
          </div>
          <div class="form__group">
            <label for="password">Password</label><br/>
            <input name="password" type="password">
          </div>
          <div class="form__submit">
            <button type="submit">Login</button>
          </div>
        </form>
      </div>

    </div>
  </section>
</body>
</html>